
*{
    margin: 0px;
    padding: 0px;
}

:root{
    --azulclaro:#61dee2;
    --azulescuro:#024cad;
    --dourado:#b8920b;
}

header{
    display:flex;
    background-image: linear-gradient(to right,var(--azulclaro),var(--azulescuro));
    width: 100vw;
    padding: 10px 0px;
}

.titulo{
    font-size: 30px;
    
}

header img{
    width: 35px;
    border-radius: 50%;
    margin-right: 5px;
}

nav{
    width: 100vw;
    display: flex;
    justify-content: flex-end;
    
}

.navbar a:hover{
    transition: 0.3s;
    transform: translate(-2px, -2px);
    border-radius: 50%;
}

main{
    width:100vw;
    height: 100vh;
    background-color: #262626
}

.perfil{
    color: white;
    align-items: right;
    display: flex;
    align-items: center;
}

.perfil img{
    width: 200px;
    border-radius:50%;
    border: solid 2px white;
    margin-left: 100px;
    margin-top: 50px;
}

.apresentacao{
    margin-left: 10px;
    margin-top: 50px;
}

h2{
    color: #9c9c9c;
}

.projetos{
    display: block;
}

.botoes{
    display: grid;
    justify-content: center;
}

button{
    width: 500px;
    height: 50px;
    border-radius: 30px;
    border: solid 5px var(--dourado) ;
    background-color: transparent;
    color: var(--dourado);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 17px;

}
a :hover{
    cursor: pointer;
}
