
*{
    margin: 0px;
    padding: 0px;
}

:root{
    --azulclaro:#61dee2;
    --azulescuro:#024cad;
    --dourado:#b8920b;
}

header{
    background-image: linear-gradient(to right,var(--azulclaro),var(--azulescuro));
    width: 100vw;
    padding: 10px 0px;
    height: 60px;
    display:flex;
    align-items: center;
    justify-content: right;
}

.navbar{
    display: flex;
    
}


.titulo{
    font-size: 30px;
    width: 90vw;
    display: flex;
    justify-content: left;
}

.menu-icon{
    display: block;
    text-align: right;
    margin-right: 25px;
}

.menu-icon :hover{
    cursor: pointer;
}

li{
    text-decoration: none;
}

.menu{
    display: flex;
    justify-content: flex-end;
    width: 100vw;
}

.list{
    display: none;
    background-color: transparent;
    position: absolute;
    width: 100px;
    padding: 5px 3px;
    margin-right: 10px;
    border-radius: 8px;
    border: solid 1px white;
    text-align: center;
    color: white;
    line-height: 25px;
    font-size: 1.2em;
    
}

li{
    list-style: none;
}

button{
    background-color: transparent;
    border: none;
}

.open{
    display: block;
}


main{
    width:100vw;
    height: 100vh;
    background-color: #262626
}

.perfil{
    color: white;
    align-items: right;
    display: flex;
    align-items: center;
    justify-content: center;
}

.perfil img{
    width: 200px;
    border-radius:50%;
    border: solid 2px white;
    margin-top: 50px;
}

.apresentacao{
    margin-left: 25px;
    margin-top: 50px;
}

h3{
    color: #9c9c9c;
    text-align: center;
}

.sobre{
    width: 800px;
    margin: auto;
    margin-top: 40px;
    color: white;
    border: solid 1px white;
}


